
body {
  font-family: "Nerko One", cursive;
  margin: 2em;
  font-size: 30px;
  color: black;
}
h1 {
  color: brown;
  font-size: 50px;

}
#text {
  position: absolute;
  left: calc(54% - 500px);
  top: calc(45% - 100pt);
  width: 1000px;
  height: 200pt;
  font-family: "Modak", cursive;
  font-size: 50pt;
  color: #FFB6C1;
}
