
body {
  color: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 80px;
  font-family: "Times New Roman", sans-serif;
}

h3 {

  font-family: "Times New Roman", sans-serif;
  font-size: 40px;
}

h4{
  font-size: 25px;
  font-family: "Times New Roman", sans-serif;
}



.home-intro {
  padding: 50vh 0;
  background: #808080;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.grid {
  background: black;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: minmax(2em, 30fr) repeat(1, minmax(200px, 900px)) minmax(1em,30fr);
}

.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%);

}

.from-right {
  grid-column: 1 / 3;
  transform: translateX(50%);
  margin-left: 4em;
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}
