body{
font-family: 'Indie Flower', cursive;
 background-repeat: no-repeat;
 background-size: cover;
 background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
 color:white;
 font-size:30px;
 text-align:center;
 background-repeat: no-repeat;
 margin-top: 60px;


}
h1{
  color: gold;
  font-family: 'Cinzel', serif;
}


body {
	background-color: #CECECE !important;
   margin: 20px !important;

}
  * {
   transition: all .2s ease;
 }

 .extra-info {
   display: none;
   line-height: 30px;
   font-size: 15px;
 	position: absolute;
   top: 0;
   left: 30px;
   font-family: 'Cinzel', serif;
 }

 .info:hover .extra-info {
   display: block;
 }

 .info {

   font-size: 35px;
   padding-left: 10px;
   width: 55px;
   border-radius: 20px;
 }

 .info:hover {
   background-color: grey;
   padding: 0 0 0 5px;
   width: 705px;
   font-size: 35px;
   text-align: left !important;
 }



#characteristic {

   margin: auto;
    width: 70%;
    color:white;
    padding: 21px;
}

 #animated{
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 cursor: url("http://downloads.totallyfreecursors.com/cursor_files/gold_star.ani"), url("http://downloads.totallyfreecursors.com/thumbnails/gold_star.gif"), auto;
}


#space{
  font-size:25px;

}

a.button {
  background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
	border-radius: 7px;
  margin-bottom:70px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 6px 22px;
  text-decoration: none;
  -webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
  hover {
	box-shadow: 0px 4px 4px rgba(33,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
  font-family: 'Indie Flower', cursive;
  }
