h1{
  color: white;
  font-family: 'Abril Fatface', cursive;
  margin-top: 80px;
}
body{
  background-color: #382c1f;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
}


a:link {
    color: white;
}

a:visited {
    color: black;
}


.container-class {
    position: absolute;
    background-image: url("https://dl.airtable.com/.attachmentThumbnails/e5a99aced46c0c1cb32df479a133c7fe/812ef66e");
    background-repeat: no-repeat;
    background-position: center;
    width: 1300px;
    height: 1200px;
    color: white;
    background-size: 100% auto;
    margin-left: 0px;
    margin-right: 27px;
    margin-top: 0px;


}

.barnsign{
  position: absolute;
  width: 60px;
  height: 100px;
  right: 36%;
  top: 35%;
  background-color: #f39c80;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  text-decoration: none;

}

.bigsign{
  position: absolute;
  width: 55px;
  height: 30px;
  right: 74.9%;
  top: 73.4%;
  background-color: #f39c80;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.birdsign{
  position: absolute;
  width: 110px;
  height: 18px;
  right: 72.2%;
  top: 33%;
  background-color: #f39c80;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.commonsign{
  position: absolute;
  width: 110px;
  height: 60px;
  right: 55%;
  top: 50%;
  background-color: #f39c80;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.mediumsign{
  position: absolute;
  width: 90px;
  height: 40px;
  right: 37.5%;
  top: 73.5%;
  background-color: #f39c80;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.seaanimalssign{
  position: absolute;
  width: 0px;
  height: 40px;
  right: 14%;
  top: 68%;
  background-color: #f39c80;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.smallsign{
  position: absolute;
  width: 55px;
  height: 42px;
  right: 76%;
  top: 53%;
  background-color: #f39c80;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
  text-transform: uppercase;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.cards img {
  margin: 10px;
  border: 2px solid white;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.3);
  max-width: 23vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}









ul
{
  position: absolute;
  top: 370px;
  right: 130px;
  transform: translateY(-50%);
  margin: 2px;
  padding: 2;
  z-index: 1;
}
ul li
{
  list-style: none;
}
ul li a
{
  display: block;
  text-decoration: none;
  height: 40px;
  line-height: 30px;
  font-size: 18px;
  background: #7FFFFFFF
  width: 300px;
  color: black;
  margin: 4px 0;
  text-transform: uppercase;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: right;

}
ul li a:hover
{
  background: black;
  color: #fff;

}
