h1{
  color: white;
  font-family: 'Abril Fatface', cursive;
  margin-top: 80px;
}
body{
  background-color: #382c1f;
  font-family: 'Abril Fatface', cursive;
}




.container-class {
    position: absolute;
    background-image: url("https://dl.airtable.com/.attachmentThumbnails/b3581bb6ccf29c1a4d3be7b1243f4b4c/e987f5cc");
    background-repeat: no-repeat;
    background-position: center;
    width: 1000px;
    height: 1000px;
    background-size: 100% auto;
    margin-left: 140px;
    margin-right: 27px;
    margin-top: -70px;


}

.barnsign{
  position: absolute;
  width: 60px;
  height: 100px;
  right: 36%;
  top: 35%;
  background-color: #f39c80;
  color: blue;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;

}

.bigsign{
  position: absolute;
  width: 40px;
  height: 20px;
  right: 75%;
  top: 71.5%;
  background-color: #f39c80;
  color: blue;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
}

.birdsign{
  position: absolute;
  width: 110px;
  height: 18px;
  right: 70.7%;
  top: 34.5%;
  background-color: #f39c80;
  color: blue;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
}

.commonsign{
  position: absolute;
  width: 120px;
  height: 35px;
  right: 53%;
  top: 50.5%;
  background-color: #f39c80;
  color: blue;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
}

.mediumsign{
  position: absolute;
  width: 70px;
  height: 40px;
  right: 37.5%;
  top: 71.5%;
  background-color: #f39c80;
  color: blue;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
}

.seaanimalssign{
  position: absolute;
  width: 70px;
  height: 40px;
  right: 6.4%;
  top: 68%;
  background-color: #f39c80;
  color: blue;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
}

.smallsign{
  position: absolute;
  width: 55px;
  height: 42px;
  right: 75%;
  top: 53%;
  background-color: #f39c80;
  color: blue;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Abril Fatface', cursive;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
.cards img {
  margin: 10px;
  border: 2px solid white;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.3);
  max-width: 23vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}









ul
{
  position: absolute;
  top: 370px;
  right: 130px;
  transform: translateY(-50%);
  margin: 2px;
  padding: 2;
  z-index: 1;
}
ul li
{
  list-style: none;
}
ul li a
{
  display: block;
  text-decoration: none;
  height: 40px;
  line-height: 30px;
  font-size: 18px;
  background: #7FFFFFFF
  width: 300px;
  color: black;
  margin: 4px 0;
  text-transform: uppercase;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: right;

}
ul li a:hover
{
  background: black;
  color: #fff;

}
