
*{
  box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: auto;
    width: 50%;
    padding: 10px;
    align-content: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 62.5%;
    text-align:center;
    background-color: black;
    border-color: purple;
    border-style: dotted;
    margin-top: 60px;
    color: white;
    }

    .card {
      width: 400px;
      height: max-content;
      background-color: white;
      position: relative;
      border-radius: 6px;
      align-content: center;
      font-family: 'Berkshire Swash', cursive;
      font-size: 62.5%;
      text-align:center;
    }

    .card > label {
      cursor: pointer;
    }

    .card > h1 {
      margin: 15px;
    }

    .card > p {
      margin: 15px;
    }

    .hint {
      height: 30px;
      width: 30px;
      color: black;
      background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
      background-color: purple;
      border-radius: 15px;
      border-color: black;
      border-style: dotted;
      position: absolute;
      right: -15px;
      top: -15px;
      transition: .2s ease;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hint > span {
      position: absolute;
      top: 7px;
      right: 12px;
    }

    .hint > p {
      overflow: hidden;
      max-height: 0px;
      transition-delay: 0.2s;
    }

    #hint-click:checked + .hint {
      height: calc(100% + 30px);
      width: calc(100% + 30px);
    }

    #hint-click:checked + .hint > p {
      max-height: 999px;
    }




.main,
.birth-date,
.horo-section {
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;



    * {
      transition: all .2s ease;
    }

    .extra-info {
      display: none;
      line-height: 30px;
      font-size: 12px;
    	position: absolute;
      top: 0;
      left: 50px;
    }

    .info:hover .extra-info {
      display: block;
    }

    .info {
      font-size: 20px;
      padding-left: 5px;
      width: 20px;
      border-radius: 15px;
    }

    .info:hover {
      background-color: white;
      padding: 0 0 0 5px;
      width: 315px;
      text-align: left !important;
    }





}
h1,
p,
img,
button,
input {
    color: purple;
    text-align: center;
    line-height: 2.1rem;
}
h1 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}
img {
    font-family: sans-serif;
    font-size: 1.4rem;
}
button,
input {
    font-size: 1rem;
    color: black;
}
button {
  background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
  border-radius: 7px;
  box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: purple;
  border: 1px solid #white;
  padding: 1rem;
  font-family: 'Berkshire Swash', cursive;
  color: black;
}





.date-btn {
	margin-top: 1.5rem;
}
.zodiac {
    height: 1.6rem;
    margin: 0 0 3rem 0;
}
.reset {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.hidden {
    display: none;
}


.fade-out {
  animation: fadeOut 2000ms ease forwards;
  -webkit-animation: fadeOut 2000ms ease forwards;
  -moz-animation: fadeOut 2000ms ease forwards;
  -o-animation: fadeOut 2000ms ease forwards;
  -ms-animation: fadeOut 2000ms ease forwards;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
}


.fade-in {
  animation: fadeIn 1000ms ease forwards;
  -webkit-animation: fadeIn 1000ms ease forwards;
  -moz-animation: fadeIn 1000ms ease forwards;
  -o-animation: fadeIn 1000ms ease forwards;
  -ms-animation: fadeIn 1000ms ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
