
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: black;
}

h1 {
  font-style: italic;
  color: #94c9dd;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");


.container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

.header {
  border: 3px solid black;
}

#header {
  position: absolute;
  width: 605px;
  height: 60px;
  left: 20px;
  top: 50px;
  border: 3px solid #000000;
  background-color: tan;
  font-size: 48px;
}

#nextpage {
  position: absolute;
  width: 380px;
  height: 30px;
  right: 20px;
  bottom: 90px;
  border: 3px solid #000000;
  background-color: tan;
  font-size: 25px;
}

#ambient {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0px;
  bottom: 0px;
  border: 3px solid #000000;
  background-color: black;
  font-size: 35px;
  text-decoration-color: tan;
  opacity: 0.5;
}
