.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}



body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center

}
ul
{
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  z-index: 1;
}
ul li
{
  list-style: none;
}
ul li a
{
  display: block;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  background: yellow;
  width: 140px;
  color: black;
  margin: 4px 0;
  padding-left: 15px;
  text-transform: uppercase;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ul li a:hover
{
  background: #262626;
  color: #fff;

}
#container
{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;

}

#container div
  {
    position: relative;
    width: 100%;
    height: 100%;
  }
#container div h1
{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 4em;
  color: black;



}

#container div#red
{
  color: white;

}

#container div#green
{
  background: #C7C7C7;
}

#container div#blue
{
  background: #A88D88;
}

#container div#yellow
{
  background: #CEA59C;
}

#container div#magenta
{
  background: #DCDCDC;
}
