/* CSS files add styling rules to your content */

body {
  font-family: "Major Mono Display", monospace;
  margin: 2em;
  font-size: 20px;
  color: #2D4DA2;
}


h1 {
  font-family: "Major Mono Display", monospace;
  font-style: italic;
  font-size: 35px;
  color: black;
  line height: 30px
}

h3 {
  font-family: "Major Mono Display", monospace;
  font-style: italic;
  color: black;

}
