body {
    background-color: #dce3d5;
}

.text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    text-align: center;
    color: #008169;
    font-family: 'Abril Fatface', cursive;
}

.top, .bottom {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    padding: 20px;
}

.top:hover {
    filter: blur(80px);
    cursor: pointer;
}


.bottom:hover {
    filter: blur(80px);
    cursor: pointer;
}
